
@media all and (max-width: 767px) {
.large-image h1 
{ font-size:28px;
  font-weight: 300;
  margin-bottom: 16px;
}
}


.reveal-on-hover{ opacity: 0; }
.reveal-on-hover:hover{ opacity: 1; }


#cf {
  position:relative;
  width:100%;
  margin:0 auto;
}

#cf.large {
	  height:255px;
}

#cf.small {
	  height:190px;
}

@media all and (max-width: 1199px) {
#cf.large {
  height:210px;
  }
#cf.small {
  height:156px;
  }
.team-2 h3 {
	font-size:24px;
  }
}

@media all and (max-width: 991px) {
#cf.large {
  height:245px;
  }
#cf.small {
  height:245px;
  }
.team-2 h3 {
	font-size:24px;
  }
 }
#cf img {
  width:100%;
  position:absolute;
  left:0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

#cf img.top:hover {
  opacity:0;
}

.gray {color:#BBB;}

.team-member-title {margin:20px;}
@media all and (max-width: 767px) {
.team-member-title h1 {font-size:34px;}
}

.menu-breadcrumb {font-size:14px; font-weight:bold; text-transform:uppercase; color:#0054a6; font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif; letter-spacing:-0.5px;
 }

.clients img {margin: 20px 0;}

@media all and (max-width: 767px) {
.feature-list h3 {font-size:14px;}
.clients img {width:150px;}

.nav-2 .menu li a {
  font-size: 20px;
  padding: 0 !important;
}



}
.bg-color {background-color:#0054a6;}

.footer-3 p {font-size:12px; color:#BBB; margin: 10px 0;}


